In [61]:
import pandas as pd
import random

In [62]:
use_column = ["ShopMemberId", "Behavior", "SalePageId", "HitTime"]
dtypes = {"ShopMemberId": str, "Behavior": str, "SalePageId": str}

# df1.to_csv("data2.csv")
df1 = pd.read_csv("BQ1.csv", low_memory=False, dtype=dtypes)
# df2 = pd.read_csv("BQ2.csv", low_memory=False, dtype=dtypes)
# df3 = pd.read_csv("BQ3.csv", low_memory=False, dtype=dtypes)

# df1["HitTime"] = pd.to_datetime(df1['"HitTime"'], format="%Y-%m-%d")

In [63]:
print(df1.columns)

Index(['ShopMemberId', 'Behavior', 'SalePageId', 'HitTime'], dtype='object')

In [64]:
df1['HitTime'] = pd.to_datetime(df1['HitTime'])

In [65]:
df1_March = df1[(df1['HitTime']>='2022-03-01')& (df1['HitTime']<='2022-03-31')].copy()

## df2

In [66]:
df2 = pd.read_csv("BQ2.csv", low_memory=False, dtype=dtypes)
df3 = pd.read_csv("BQ3.csv", low_memory=False, dtype=dtypes)

In [67]:
df2.head()

,ShopMemberId,Behavior,SalePageId,HitTime
0,8iKBSgUsYBuQG5yrJ1eieObsmWA44GCEOpSLoS3uX6g=,viewproduct,gF2T7BEh3Ig6QnAZ6iabUA==,2022-11-01 12:42:07.917 UTC
1,8iKBSgUsYBuQG5yrJ1eieObsmWA44GCEOpSLoS3uX6g=,viewproduct,gF2T7BEh3Ig6QnAZ6iabUA==,2022-11-01 12:42:07.917 UTC
2,8iKBSgUsYBuQG5yrJ1eieObsmWA44GCEOpSLoS3uX6g=,selectcontent,NaN,2022-11-01 12:42:07.917 UTC
3,8iKBSgUsYBuQG5yrJ1eieObsmWA44GCEOpSLoS3uX6g=,selectcontent,NaN,2022-11-01 12:42:07.917 UTC
4,8iKBSgUsYBuQG5yrJ1eieObsmWA44GCEOpSLoS3uX6g=,viewmainpage,NaN,2022-11-01 12:42:07.917 UTC

In [68]:
df2['HitTime'] = pd.to_datetime(df2['HitTime'])
df3['HitTime'] = pd.to_datetime(df3['HitTime'])

In [69]:
df2_March = df2[(df2['HitTime']>='2022-03-01')& (df2['HitTime']<='2022-03-31')].copy()
df3_March = df3[(df3['HitTime']>='2022-03-01')& (df3['HitTime']<='2022-03-31')].copy()

In [70]:
df_march = df1_March.merge(df2_March)
print(len(df_march.index))
df_march = df_march.merge(df3_March)
print(len(df_march.index))

28134139
695983083

In [71]:
selected_shop_member_ids = df_march.ShopMemberId.unique()

In [102]:
random_group = random.sample(list(selected_shop_member_ids), k=300)
random_sample = random.sample(list(random_group), k=10)
with open('random_group.txt', 'w') as file:
    for item in random_group:
        file.write(f"{item}\n")

In [103]:
print(random_sample)

['xtrqXIAO3ES2tz5YGr3NfUAZQEzqGJV4fKgiyu+tz1w=', '1hsqK7HX300yxI1+BJOASv/ZT5W6Jz7+snv2zpcJlqo=', '+zYSlZfgEoYJILGuWSXtsX00W4+1siTkLuAJDkxVkHU=', '9WC94oBOcCFXFCBq43agIJp6RBTThwk1nQcl6yzFkt0=', 'Mud1tzUhA9Qoy03F7ZmO2ZL/MK+1/SpP8BMF397rRek=', '1nofLv+HbeY0+iYDWYeLnXVb71/lHGvAiUEuThLLHL0=', 'AINJ4m/4VqSxni6eT7II+Vaxy1S5pLHkCqInH1VYUPI=', 'K89ZBEtotSQPKxq3rQdWaEYSUh4hQATScRblrez6o/8=', '+dKOyqlzIZjONOo44Eu8S++B7IfpDVjMjmsLP1IY6G4=', 'fy6H4FFRNfunEoHzRCNlEU+EETE4aXmYmA2jcvTEQQo=']

In [74]:
selected_data = df_march[df_march['ShopMemberId'].isin(random_group)]
selected_data = selected_data[selected_data['Behavior'].isin(['viewproduct', 'add', 'checkout', 'purchase'])]
selected_data = selected_data.drop('HitTime', axis=1)
print(selected_data)

                                           ShopMemberId     Behavior  \
10990898   M8wxSYh8oQMAQazAUlNK5lHfQijBEZMymg1FyJPAY6I=  viewproduct
11970655   BuuuIReKoT7tAbyjhVuyIU41c1KtlSAa5XKgPeYQooo=  viewproduct
44987169   63T4Hd2W/Uy1zn/k57yc6zUTKzwU2Nm41719YeV0/SY=  viewproduct
44987234   63T4Hd2W/Uy1zn/k57yc6zUTKzwU2Nm41719YeV0/SY=  viewproduct
44987236   63T4Hd2W/Uy1zn/k57yc6zUTKzwU2Nm41719YeV0/SY=          add
...                                                 ...          ...
668956569  CnfZ1Uyu1NA8EH7mnP7ktVdiUMX73HsBVO2Uifb+LBs=  viewproduct
668956570  CnfZ1Uyu1NA8EH7mnP7ktVdiUMX73HsBVO2Uifb+LBs=  viewproduct
668956571  CnfZ1Uyu1NA8EH7mnP7ktVdiUMX73HsBVO2Uifb+LBs=  viewproduct
668956572  CnfZ1Uyu1NA8EH7mnP7ktVdiUMX73HsBVO2Uifb+LBs=  viewproduct
668956609  CnfZ1Uyu1NA8EH7mnP7ktVdiUMX73HsBVO2Uifb+LBs=  viewproduct

                         SalePageId
10990898   w4BgcL6IIUvO2D6/b7kGpg==
11970655   cHNh3Ll9Rr8wa9yKqHXIGw==
44987169   B0WCzH5eaWwG0l6LGH0RJQ==
44987234   2Xy5NUFL1R+xLiJrir3jjQ==
44987236   2Xy5NUFL1R+xLiJrir3jjQ==
...                             ...
668956569  RPDBt8YB6NwXjJ48PTjkkw==
668956570  RPDBt8YB6NwXjJ48PTjkkw==
668956571  RPDBt8YB6NwXjJ48PTjkkw==
668956572  RPDBt8YB6NwXjJ48PTjkkw==
668956609  rYTbFOSpk4m5smci4h+52w==

[2598 rows x 3 columns]

In [75]:
selected_data.to_csv('data_march.csv')

## df april~June

In [76]:
df_order =pd.read_csv('OrderData.csv',low_memory=False)

In [77]:
df_order = df_order[['ShopMemberId','TradesGroupCode','OrderDateTime']]

df_order

,ShopMemberId,TradesGroupCode,OrderDateTime
0,tBRjIPC81i5YKJBUntHQMG7bS9/hdi339zyw/Mf+7hs=,kaZBGrx3w3B+uyBd4u1KrBcHdu7fCFmVJTR/btskLj1J9g...,2017-10-25 15:38:07.263
1,krZV8ISz2OfnMsU4/uHG7/eD6DiSsH5Ux9/OnfSsEuw=,D5qVKX4BOcsMGpA/u2SNoi5qPJ/9v5QDOzKdAlyVNzzbdS...,2019-02-04 14:38:31.710
2,XEaqqY1eRKzWOnVlEcsb8Pmr4GlfoVeJnaGHZLspuHU=,zlckkBKwIHcy7ZmGadIlJ/b5ul6kGhiIAOTXf98aaAA=,2022-01-28 18:18:59.950
3,OpN1EQjO6VegY9B5zEFQcxpTmt9L5UtVFHLJFiUj3cM=,2/kJAOwUlTEPwQK1PdMdcwgpadrDU+gSM/cktuPmeCJAbw...,2020-10-04 16:25:04.750
4,8UznbMg+eOSRlkBLXLS84s2XcK4BWu3L4+aB46m58WI=,swn3xlscpuSy2stEWoLhKOH+rqgdFw3y50b/PMWrEL0=,2022-09-04 17:31:27.590
...,...,...,...
2498902,vCE13BuuHkzLNjENG03hqRMHSNtC+PlUXoOMwNJDIes=,B6abuFW5X+62HNpQsb/R9mJ60zGT4AYWZaZZLmPo/0kooC...,2018-01-21 17:34:10.000
2498903,sWXNi5mjW7RRTCGeUKLt66DBI5xn7H0z9C5McGW3cs4=,aBT768gl7946Uhw2egYdiV5Sw7C/ASrTH36eZWJw5ZidL0...,2017-10-28 21:47:29.000
2498904,kZkAYAWKIike3X5uLKQi7MjHgd7WTTzoLtKAyYdWp3Y=,TZ9VwanlRQD6K/pvT/p4y053f2I1mHLvsdGnOeDtkI2Kfm...,2020-12-13 19:55:37.000
2498905,4kE3tw+9oBGoFvxkaXOox7Yghn5G0JewPV5SEANOCgk=,wAqZMWjXO6+hMGlY1EsfcMPPJGpi7yA8MXrUdAL7pDFvHS...,2018-02-11 19:29:59.000
2498906,rG19JG1e/KzcBgYmQKZLuDlx8rP2kfWKxC6P/0rLuAI=,Pg+klleVwPNT14kPrSrqBXPDvu6UadsDAg9rjtqLv2Sxtm...,2018-04-27 13:25:53.000

In [78]:
df_order = df_order[(df_order['OrderDateTime']>="2022-01-01")&(df_order['OrderDateTime']<="2022-12-30")]

In [79]:
df_order = df_order[['ShopMemberId','TradesGroupCode']]
df_order

,ShopMemberId,TradesGroupCode
2,XEaqqY1eRKzWOnVlEcsb8Pmr4GlfoVeJnaGHZLspuHU=,zlckkBKwIHcy7ZmGadIlJ/b5ul6kGhiIAOTXf98aaAA=
4,8UznbMg+eOSRlkBLXLS84s2XcK4BWu3L4+aB46m58WI=,swn3xlscpuSy2stEWoLhKOH+rqgdFw3y50b/PMWrEL0=
10,Ve6c+CYySXvh05W32X/vTFY9U0o9V/wwwFBOxKV/1U0=,8j7AEg4ZW2cCjpCwd5Pa1LcLOkYO98FXxwn9RJv4WKc=
30,Cl8xkthmsayjNnyDLopM4JnK4ISxfa1K3gn3wac/rY0=,w0wN+bdBM9IvefpeJLOiLaV2k+6bSVlxm2WvWBnXYaE=
56,vX+OSdVJCaD1xtjyfC+8u9swic3cORXRzskQs+ADEPQ=,CIzcpSy2d3rUKyoCsIQeqLz5xu46OKbwW4cMBx2iz2k=
...,...,...
2498852,V8NGNlY6nVAOG4S4mK9IpmWzW/cbl/ajIpPAKSIlso4=,KDOAPWrzUVkulbKwkgPiC+np0nB+qxVp9QJkotQFR9vvTq...
2498859,e4qsTZOmkg5n3841d4ACxfkCPMTAFU45lYJyXb0ldvE=,I1jlMhcQ0SMP5Uo7OvZGXqyqKsu6izZStvbqeJdReW9lP3...
2498867,94/8v1CgdPyxN/qTnJrgZycUl5EtZ3HegRLbikXQErA=,7sRxKcgi/f6IA4/hkSjyqHenNGEHvF03E4pKRnZk4eM=
2498869,rG19JG1e/KzcBgYmQKZLuKipNtCeGYS5nKro89NvEVk=,map5m8KAv47XaAg01s1XhFGzHfO9DkSvFSmlkAIYTAermu...
2498881,l3rIjvzZUqwjCSQI92CrZ2WGGLQqjbZcrBTZ9YneM64=,rIJVarhUD+9e8Zfr6Q7ES4s1ULfBzFwxqq3/NPwGIzGizk...

In [80]:
use_column = ["ShopMemberId", "TradesGroupCode", "SalePageId", "OrderDateTime"]

df_orderslave = pd.read_csv('OrderSlaveData.csv',low_memory=False,usecols=use_column)

In [81]:
df_orderslave['OrderDateTime'] = pd.to_datetime(df_orderslave['OrderDateTime'])
df_orderslave = df_orderslave[(df_orderslave['OrderDateTime']>='2022-04-01')&(df_orderslave['OrderDateTime']<='2022-06-30')]
df_orderslave

,ShopMemberId,TradesGroupCode,OrderDateTime,SalePageId
38,1NmF8ENKR2hNFMWeRdHa9sqPsqHXdswYKeSJVXsOehk=,+6xv9Xa9QqFb/iF9qMH+d0w7auPlYNiPnCAQU+ms+2g=,2022-04-01 23:38:17.777,UXp30ndaFk4Q8uXayC0XiQ==
49,2rec1ExiU4W+WoHjpgWKXovO7yaTlQ5on6pPUOVrn4A=,Ay9isRrJoBVaGY71hx0K4XsFIiMjI2wxiOEnipUBuh0=,2022-04-03 19:36:16.217,gqgnAiKwg+a3wSklB9FCpg==
102,fgGHiAiR1Q6FKZHmFzturlhNaUIIEmFZwNCHKLpjohs=,KN4tZ1c9gCg5C6S/JIH9A9OWzp5Jxb3dXlxiIQDqlyE=,2022-05-31 21:20:40.597,LY+Ws3PtZzc81O0WP/uXDA==
132,BxN/DNflvJfpun+R294aE+MssEAetYJiD9T8hGfZtAw=,CqDexx4oCphGD3XQVT1YPdMilV2den0fyoNHMmRvwJs=,2022-05-20 17:30:28.727,9soRa2k9Ax3aAbim/PfIvg==
144,j2eiRlnSk2Jl0l+0boHwcxRltijwmjY0nE3jY8z87/4=,jeD4Dh81yNWte/ilJ2XlZ+6Vqy7l3SBDADQ7MuWOCTw=,2022-04-21 22:19:23.500,mSSVLaeaMZWcPDsQtYHHLA==
...,...,...,...,...
5638104,8CJ0I32OUBV1HiUfM6O55rOdNsr5at1frZjbpoRQ5gs=,IkoGyc9qFgGBWpTdeeEvJ45UFHHpzqIjNySQE4+GabMR0E...,2022-04-05 16:53:48.000,NaN
5638115,zh6jxbuwYc5IhAxpriNyFv9RCgC3efrBGwDqoVc5s14=,E6iagzdl3FBkCh6ZILSlGCGd1RM/nDO+BGTr4p2Y0gqIVC...,2022-04-05 17:58:01.000,NaN
5638183,lZYtycI9h9tROjPYXUfCLVz8jZc0+44c7J1FOVGoCAw=,LjUY/SdIrc6ieWP4OlcqNPJz3hjNgR2MFwH4NiEc1JXuXw...,2022-04-16 14:56:02.000,NaN
5638190,KLyB0+G5pNJoAOYuD+3phoWcBR2zb9/N02Bg5USpbQk=,sN3nl1fndNQSU8l0GPEr8pp3s8VO5Be1xwuVWgxIl3x5zP...,2022-05-31 15:46:19.000,NaN
5638349,wLpSBPOcvmftQl3r6+q/wjKD7C0ishK07B4d8zjDuKk=,WroZ+O/Je+FZbllpx5qv0vX0+3tvSmGQNWInSkxlRlBrZd...,2022-04-04 15:39:45.000,NaN

In [82]:
df_orderslave =df_orderslave[["ShopMemberId", "TradesGroupCode", "SalePageId"]]
# df_orderslave
n= 0
y= 0
for i in df_orderslave.SalePageId.isna():
    if i ==False:
        y+=1
    elif i == True:
        n+=1

print(f"有{y}個id,缺{n}個")

有27190個id,缺80811個

In [83]:
merged_df = pd.merge(df_order, df_orderslave, on=['ShopMemberId', 'TradesGroupCode'], how='right')
c= merged_df.SalePageId.isna()
n= 0
y= 0
for i in c:
    if i ==False:
        y+=1
    elif i == True:
        n+=1

print(f"有{y}個id,缺{n}個")

有31653個id,缺88483個

In [84]:
merged_df = merged_df.dropna(subset=['SalePageId'])

merged_df = merged_df.drop_duplicates()
merged_df

,ShopMemberId,TradesGroupCode,SalePageId
0,1NmF8ENKR2hNFMWeRdHa9sqPsqHXdswYKeSJVXsOehk=,+6xv9Xa9QqFb/iF9qMH+d0w7auPlYNiPnCAQU+ms+2g=,UXp30ndaFk4Q8uXayC0XiQ==
1,2rec1ExiU4W+WoHjpgWKXovO7yaTlQ5on6pPUOVrn4A=,Ay9isRrJoBVaGY71hx0K4XsFIiMjI2wxiOEnipUBuh0=,gqgnAiKwg+a3wSklB9FCpg==
2,fgGHiAiR1Q6FKZHmFzturlhNaUIIEmFZwNCHKLpjohs=,KN4tZ1c9gCg5C6S/JIH9A9OWzp5Jxb3dXlxiIQDqlyE=,LY+Ws3PtZzc81O0WP/uXDA==
3,BxN/DNflvJfpun+R294aE+MssEAetYJiD9T8hGfZtAw=,CqDexx4oCphGD3XQVT1YPdMilV2den0fyoNHMmRvwJs=,9soRa2k9Ax3aAbim/PfIvg==
5,j2eiRlnSk2Jl0l+0boHwcxRltijwmjY0nE3jY8z87/4=,jeD4Dh81yNWte/ilJ2XlZ+6Vqy7l3SBDADQ7MuWOCTw=,mSSVLaeaMZWcPDsQtYHHLA==
...,...,...,...
120105,bqzMEmWrAJoe4lCtiWdeixcRe0o9rGclxYIJp8nSdms=,esHnTgwTVYp8rOPCfUk2+KXVVCgvJcWr1joyxLlMGdc=,ql8icJGquSRJbXmJIlT7/g==
120106,VtAlYgORJkpNX39lru6R/dAN04E4HGfzkDMydgeq+4Y=,M3QOLetEWAtSJvXZFkBEVsy/exn2eZX2iOHXwoYxBlE=,MJzes5XT0Myyba8OJY06EA==
120124,nTVrHgQGSLTsitNbIEmKhEygNmw3TrY8QXRZ0/4j/Wc=,9RzKrNBaV3PnoKKNp/um6y6lPt2AFSMaEcxrSIgQn7o=,9Cxc4x+SQbBKk8njb4K39Q==
120125,Vf3Tpdb5zhZXexeleFYlNnHu6nL5qMYrzfeULuTak9Y=,7X3lqgDreq/VSLpnrCJaCbRhb7rItn+H5bjmAoKhmZw=,5f/sDTEgtchWUrOzMukQBQ==
120126,/OgelZzoh7i7aUDE+Xm8Qi2mDGDKgEtpc7ih12QNPOA=,bObEgxaA/hFQwD/YPQi3Xt380nylQXOc1xeG/cMx9Gs=,fh/P/RQMQ1+QtAhgtE9rrw==

In [85]:
merged_df.to_csv("Answer.csv")